# Paste your Supabase credentials here:
NEXT_PUBLIC_SUPABASE_URL=https://bskwnngtwsrbrfcuopir.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJza3dubmd0d3NyYnJmY3VvcGlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NTEwNTQsImV4cCI6MjA5ODAyNzA1NH0.vpHM66Ec22TnWqCQKKcrWSseqSPhVS9b5afu9dSfv1M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJza3dubmd0d3NyYnJmY3VvcGlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQ1MTA1NCwiZXhwIjoyMDk4MDI3MDU0fQ.f6bLFyDfGtwJ36DJmX8CRcFUsBZqzxbR_v2IHFW0Pgo

# Stellar Vault Credentials
NEXT_PUBLIC_STELLAR_VAULT_PUBLIC_KEY=GBNOTQMRR5OSU2R3ARUKFM3H6UGQXRPJ5OKSJ4Z7GVG45XXL6E6HOILT
STELLAR_VAULT_SECRET_KEY=SB655UK3WK7MJAQGM3S2XVBDBGQ2OFNLZEIXXL5HZTCPFO3B2DQNG252